  

<div class="container">
  <h1>Create a new post!</h1>
  <form action='/create_post' method='post'>
    Post Title:   <input type="text" placeholder="Post Title" name="post[title]"><br><br>
    Post:         <textarea rows='20' cols='50' wrap='on' placeholder="Write your post here!!" name="post[description]"></textarea><br><br>
    Tag Your Post: <input type="text" placeholder="Tag it!" name="tag[tag_name]"><br><br>            
                   <input type="submit" value="Create Post"><br><br>
  </form>
  <br>
  <br>
  <a href='/'>Home Page</a>
</div>
